# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
service-account.json    

# Virtualenv
venv/
.venv/
env/

# Env
.env

# Firebase
serviceAccount.json

# IDE
.idea/
.vscode/

# macOS
.DS_Store
